.numbase-number {
    word-break: break-word;
    display: inline-block;
}

.numbase-digit {
    border: solid 1px transparent;
    border-radius: 0 5px 0 0;
}
.numbase-digit-neg {
    border-color: black black transparent transparent;
}

tspan.numbase-digit-neg {
    fill: red;
}
